@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  direction: ltr;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;

}

body {
  background: linear-gradient(0deg, rgba(255, 221, 228, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.text-arabic {
  font-family: "Noto Kufi Arabic", sans-serif !important;
  direction: rtl;
}

.text-latin {
  direction: ltr !important;
}

.container {
  max-width: 1200px;
  margin: auto;
}

@layer base {
  .text-red {
    @apply text-[#F0073B]
  }

  .bg-red {
    @apply bg-[#F0073B]
  }

  .border-red {
    @apply border-[#F0073B]
  }
}